<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Missing_Login_Info-Title</key>
	<string>Hey!, You Forgot Something</string>
	<key>Missing_Login_Info-Msg</key>
	<string>Email or password fields are blank</string>
	<key>Missing_Login_Info-Btn</key>
	<string>Ok</string>
</dict>
</plist>
